
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: lightblue;
    border-bottom: 2px #222 solid;
    color: #333;
}

.navbar ul {
    overflow: hidden;
}

.navbar li {
    list-style: none;
    float: left;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    padding: 14px;
    display: block;
}

.navbar a:hover:not(:nth-child(1)) {
    background-color: #333;
    color: white;
}

.navbar input {
    margin: auto;
    background-color: lightblue;
    border: #999 1px solid;
    display: block;
    margin-top: 13px;
    width: 280px;
    border-radius: 10px;
    height: 30px;
    text-align: center;
}

/* MAIN */

.main-container {
    margin: auto;
    height: 90vh;
    width: 90vh;
    padding: 20px;
    border-radius: 10px;
}

.profile {
    margin: 5px;
    border-radius: 15px;
    height: 30px;
    float: left;
}

.friendReq-container {
    background-color: tomato;
    width: 80%;
    border-radius: 8px;
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
}

.friend-request h5 {
    padding: 4px;
}

.friendReq-container p {
    font-size: 10px;
    float: right;
    font-style: italic;
}

.friendReq-container button {
    height: 20px;
    background-color: #333;
    border: #333 1px solid;
    color: #eee;
    border: 0;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.friendReq-container button:hover {
    background-color: tomato;
    color: #333;
    border: 1px #555 solid;
}

/* mobile device */

@media only screen and (max-width: 830px) {
    .navbar input {
        width: 25%;
    }
}

@media only screen and (max-width: 756px) {
    .navbar input {
        width: 15%;
    }

    .contacts {
        height: 60vh;
    }
    
    .friend-request {
        position: inherit;
        top: 50px;
        margin-top: 50px;
        width: 80vh;
    }

    .friendReq-container button {
        margin-top: 1px;
    }
}

@media only screen and (max-width: 640px) {
    .navbar li:not(:nth-child(1)) {
        display: none;
    }

    .navbar {
        background-color: #eee;
        border: none;
    }

    .navbar input {
        height: 40px;
        width: 80%;
        text-align: center;
        display: block;
    }

    .navbar li :nth-child(1) {
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
        position: relative;
        top: 6px;
    }

    .navbar li:hover :nth-child(1) {
        border: 1px #222 solid;
    }

    .friend-request h5 {
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }

    .friendReq-container {
        background-color: tomato;
        height: 80px;
        width: 100%;
        border-radius: 8px;
        margin: 10px;
        margin-top: 20px;
        padding: 10px;
    }
    
    .friendReq-container p {
        font-size: 15px;
        float: right;
    }
    
    .friendReq-container button {
        height: 30px;
        background-color: #333;
        border: #333 1px solid;
        color: #eee;
        border: 0;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .friendReq-container button:hover {
        background-color: tomato;
        color: #333;
        border: 1px #555 solid;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        width: 90%;
    }

    .navbar input {
        width: 80%;
    }
}

@media only screen and (max-width: 310px) {
    .navbar input {
        width: 80%;
        text-align: center;
        display: block;
    }

    .container {
        width: 90%;
    }
  
}

@media only screen and (max-width: 277px) {
    .navbar input {
        width: 75%;
        text-align: center;
        display: block;
    }

    .container button {
        margin-left: 4px;
    }

    .friend-request h5 {
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
    }

    .friendReq-container {
        background-color: tomato;
        height: 110px;
        width: 100%;
        border-radius: 8px;
        margin: 10px;
        margin-top: 20px;
        padding: 10px;
    }

    .friendReq-container img {
        height: 40px;
    }

    .friendReq-container h4 {
        font-size: 30px;
    }

    .friendReq-container p {
        font-size: 25px;
        float: right;
    }
    
    .friendReq-container button {
        height: 45px;
        font-size: 20px;
        background-color: #333;
        border: #333 1px solid;
        color: #eee;
        border: 0;
        padding: 7px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .friendReq-container button:hover {
        background-color: tomato;
        color: #333;
        border: 1px #555 solid;
    }
}

@media only screen and (max-width: 243px) {
    .navbar input {
        width: 70%;
        text-align: center;
        display: block;
    }
}

/* ########## NAVBAR RESPONSIVE ########## */

.navbarResponsive {
    float: none;
    position: fixed;
    height: 280px;
    width: 93%;
    background-color: lightblue;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}

.navbarResponsive li {
    list-style: none;
    display: block;
    float: none;
}

.navbarResponsive li:nth-child(1) {
    display: flex;
    width: 100%;
    float: left;
}

.navbarResponsive a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    padding: 14px;
    display: block;
}

.navbarResponsive input {
    display: none;
}
